<div class="container">
  <div class="left">
    <h2>Controls</h2>

    <div class="centrepoint" id="centrePointRef">
      <div class="c-quad">
        <div
          class="quadrant1"
          (click)="show1()"
          [inlineSVG]="'assets/img/quad/1.svg'"
        ></div>
        <div class="c-label c-label--m1">
          Item 1
        </div>
      </div>
      <div class="c-quad">
        <div class="c-label c-label--m2">
          Item 2
        </div>
        <div
          class="quadrant2"
          (click)="show2()"
          [inlineSVG]="'assets/img/quad/2.svg'"
        ></div>
      </div>

      <div class="quadrant3">
        <img src="assets/img/quad/3.svg" />
      </div>
      <div class="quadrant4">
        <img src="assets/img/quad/4.svg" />
      </div>
      <div class="quadrant5">
        <img src="assets/img/quad/5.svg" />
      </div>
    </div>
  </div>
  <div class="right">
    <div class="mod" *ngIf="showMod1" [@itemAnim]>
      <h2>Item 1</h2>
      <ul>
        <li>
          Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod
          in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
        </li>
        <li>
          Praesent dapibus, neque id cursus faucibus, tortor neque egestas
          augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui
          mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
        </li>
        <li>
          Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
          consectetuer ligula vulputate sem tristique cursus. Nam nulla quam,
          gravida non, commodo a, sodales sit amet, nisi.
        </li>
        <li>
          Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor,
          ultrices ut, elementum vulputate, nunc.
        </li>
      </ul>
    </div>
    <div class="mod" *ngIf="showMod2" [@itemAnim]>
      <h2>Item 2</h2>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
      <img src="https://source.unsplash.com/random/600x400" />
    </div>
  </div>
</div>
